body{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.padding{
    padding: 0 10px;
}

.card{
    max-width: 400px;
    background-color: #1A1B21;
    color: white;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px;
    word-spacing: 10px;
}

.icons{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding: 20px 40px;
    background-color: #161619;
}

.profile-pic{
    width: 100%;
    height: auto;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h1{
    font-weight: bold;
    margin-bottom: 0;
}

.center h3{
    margin: 0;
    color: #F3BF99;
}

.center h4{
    margin-top: 0;
}

.button{
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 10px;
    background-color: #D1D5DB;
    font-size: 20px;
    font-weight: bold;
}